.sectionTitle {
    padding-top: 25px;
}

.picture {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    width: 100%;
}

.projectTitle {
    padding-top: 25px;
}

.projectSubtitle {
    padding-bottom: 15px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.video {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}