/* 

Color Palette

Dark red: 4D001C - Dark Sienna
Red: 7E0027 - Burgundy
Beige: FFE6CA - Bisque
White: FFF6EC - Seashell
Gray: 787373 - Sonic Silver
Black: 282323 - Raisin Black

*/

* {
    font-family: 'Rubik';
}

p {
    font-family: 'Karla';
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #411429;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

a.disabled {
    pointer-events: none;
    color: #411429;
}

.bgColor {
    background-color: #411429;
}

.sectionHeader {
    margin-top: 25px;
    margin-bottom: 75px;
}

/* .sectionTitle {
    padding-top: 25px;
} */

.pictureContainer {
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
}

.project {
    margin: 75px 0px 75px 0px;
}

.projectTitle {
    color: #411429;
}

.projectSubtitle {
    color: #555555;
}

.projectDescription {
    margin-top: 50px;
    margin-bottom: 50px;
}

.separator {
    margin: 0px 75px 0px 75px;
}

.videoWrapper {
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.video {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.pdfIcon {
    color: white;
    padding-right: 10px;
}

.reportButton {
    background-color: #411429 !important;
}
