.sectionTitle {
    padding-top: 25px;
}

.pictureContainer {
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
}

.projectTitle {
    padding-top: 25px;
}

.projectSubtitle {
    padding-bottom: 15px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.video {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}