/* 

Color Palette

Light gray: e7effd
Gray: d4dfec
Dark gray: 3f3d56
Light red: a30034
Red: 720025
Dark red: 440016


*/

* {
    font-family: 'Rubik';
    color: #3f3d56;
}

body {
    background-color: #e7effd !important;
}

h1 {
    font-size: 60px !important;
}

p {
    font-size: 18px;
}

/* Replace with my-auto everywhere */
/* .center-vertically {
    margin-top: auto !important;
    margin-bottom: auto !important;
} */

/* Replace with mx-auto everywhere */
/* .center-horizontally {
    margin-left: auto;
    margin-right: auto;
}
 */
.navColor {
    background-color: #3f3d56;
}

.dropdown-menu {
    background-color: #3f3d56 !important;
    border-color: #3f3d56 !important;
}

.dropdown-item {
    color: #e7effd !important;
    opacity: 50%;
}

.dropdown-item:hover {
    background-color: #a30034 !important;
    color: #e7effd !important;
    opacity: 80%;
}

.icon {
    color: white;
    padding-right: 5px;
}

.bigIcon {
    font-size: 50px !important;
    padding: 15px;
}

.wrapper {
    padding-bottom: 25px;
}

.pageTitle {
    padding: 120px 0px 60px 0px;
}

.pageIntro {
    padding-bottom: 60px;
}

.section {
    padding-bottom: 25px;
}