/* 

Color Palette

Light gray: e7effd
Gray: d4dfec
Dark gray: 3f3d56
Light red: a30034
Red: 720025
Dark red: 440016


*/

h2 {
    font-size: 50px !important;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4dfec;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: #720025;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #440016;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

a.disabled {
    pointer-events: none;
    color: #440016;
}

.pictureContainer {
    max-width: 300px;
}

.section {
    padding-bottom: 25px;
}

.introLeft {
    padding-bottom: 20px;
}

.flag {
    max-width: 40px !important;
    margin: 25px 10px;
}

.flagContainer {
    position: relative;
    width: 75px;
}

.textOnSvg {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
}

.legend {
    color: #3f3d56 !important;
}

.legend:hover {
    color: #720025 !important;
}

.legendContent {
    background-color: #d4dfec !important;
    border-color: #e7effd !important;
}

.legendBanner {
    margin-top: 15px;
}

.legendTile {
    height: 25px;
}

.skillsRow {
    padding: 15px;
}

.skillCard {
    background-color: #e7effd !important;
    text-align: center!important;
    border-color: #e7effd !important;
}

.skillImage {
    position: relative;
    height: 80px;
    background-color: #d4dfec;
}

.skillIcon {
    max-width: 50px !important;
    max-height: 50px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skillName {
    margin-bottom: 0px !important;
    font-size: 16px;
    color: #e7effd;
}

.level1 {
    background-color: hsla(341, 100%, 22%, 0.25);
}

.level2 {
    background-color: hsla(341, 100%, 22%, 0.5);
}

.level3 {
    background-color: hsla(341, 100%, 22%, 0.75);
}

.level4 {
    background-color: hsla(341, 100%, 22%, 1);
}