/* 

Color Palette

Light gray: e7effd
Gray: d4dfec
Dark gray: 3f3d56
Light red: a30034
Red: 720025
Dark red: 440016


*/

html, body {
    height: 100%;
}

.wrapperIndex {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.container {
    height: 100%;
}

.svg {
    padding-top: 20px;
    padding-bottom: 40px;
}

.button {
    padding: 30px !important;
    font-size: 25px !important;
    color: #e7effd !important;
    background-color: #3f3d56 !important;
    border-color: #e7effd !important;
}

.button:hover {
    background-color: #a30034 !important;
}

.innerWrapper {
    max-width: 500px;
}