/* 

Color Palette

Light gray: e7effd
Gray: d4dfec
Dark gray: 3f3d56
Light red: a30034
Red: 720025
Dark red: 440016


*/

.project {
    margin: 50px 0px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
    padding: 25px;
}

.projectTitle {
    color: #440016;
}

.projectSubtitle {
    color: #555555;
}

.projectDescription {
    margin-top: 50px;
    margin-bottom: 50px;
}

.separator {
    margin: 0px 75px 0px 75px;
}

.videoWrapper {
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.video {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.pdfIcon {
    color: #e7effd;
    padding-right: 10px;
}

.reportButton {
    background-color: #3f3d56 !important;
    border-color: #3f3d56 !important;
}

.reportButton:hover {
    background-color: #a30034 !important;
    border-color: #a30034 !important;
}